<h1>Form with bootstrap + simple form</h1>

<%= simple_form_for @pet do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :species, collection: Pet::SPECIES %>
  <%= f.input :found_on %>
  <%= f.submit class:'btn btn-warning' %>

<% end %>
<%# #bootstrap check the type of each value automatically! %>

<h1>Form with bootstrap only</h1>

<%= form_with model: @pet do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="form-group">
    <%= f.label :species %>
    <%= f.select :species, collection: Pet::SPECIES %>
  </div>
    <div class="form-group">
    <%= f.label :found_on %>
    <%= f.date_field :found_on  %>
  </div>
    <%= f.submit %>
<% end %>
